/* For datacash reports search page */
#datacash-reports-form .form-item {
  float: left;
  padding-right: 5px;
  padding-top: 5px;
  margin: 0;
  border: 0;
}

#datacash-reports-form .datacash_reports_form_item {
  padding-right: 25px;
}

#datacash-reports-form .datacash_reports_form_item .form-submit {
  margin-top: 25px;
}

.datacash_reports_clear {
  clear: both;
}

#datacash_reports_statistics .datacash_reports_statistics_container {
  padding-top: 30px;
  padding-left: 10px;
}

#datacash_reports_view .datacash_reports_view_container {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#datacash_reports_view #dcr-tnx-detail .view-content .views-field {
  padding: 3px;
  border-top: 1px solid #000;
}

#datacash_reports_view #dcr-tnx-detail .view-content .views-label {
  font-weight: bold;
  padding-right: 5px;
}

#datacash_reports_statistics #pie_all {
  padding-bottom: 70px;
}
